.sectionContainer {
  display: flex;

  // &:not(:last-child) {
  border: 2px solid gray;
  border-radius: 7px;
  padding: 20px;
  margin-bottom: 20px;
  // }

  &__left {
    border-right: 2px solid gray;
    padding: 50px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    // align-items: center;
    .questionContainer:last-child {
      border-bottom: none;
    }
  }
}



